{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h2>
  Balance: {{ balance|usd }}
</h2>
<form action="/buy" method="post">
    <div class="form-group">
        <div class="form-group">
            <input class="form-control" name="symbol" placeholder="Stock Ticker Symbol" type="text">
        </div>
        <div class="form-group">
            <input min="1" value="1" class="form-control" name="shares" placeholder="Number of shares" type="number">
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Purchase</button>
</form>
{% endblock %}




